## **SQL-Fundamentals-Farsi**

<section style="direction: ltr; text-align: justify; margin: 30px;">

### Project Introduction

This project is aimed at developing an automated reporting tool that facilitates accessing data from SQL Server databases, executing SQL queries, and exporting the resulting data into structured reports. The tool allows users to extract data and save it in both Excel and CSV formats, providing flexibility in data handling and storage. This functionality is particularly beneficial in data-driven environments where efficient reporting and data management are critical.

### General Workflow of the Project

1. **Database Connection**: 
   The first step in the process involves establishing a connection to the SQL Server database. This is done using the `SQLAlchemy` library, which provides a robust interface for interacting with relational databases. The connection can be made with or without login credentials, allowing flexibility in different authentication environments (SQL or Windows authentication).

2. **Executing SQL Queries**:
   After establishing a connection, users can execute their desired SQL queries to retrieve data from the database. These queries can include filtering, sorting, or aggregating data as per business needs. The tool then fetches the data into a Pandas DataFrame, which makes it easier to manipulate and display the results.

3. **Data Display**:
   The retrieved data is displayed in the console in a tabular format. Users can specify how many rows they want to view, or the default will show the top 10 rows of the result set.

4. **Exporting Data**:
   A core feature of the project is the ability to export data into Excel and CSV formats. Users can choose whether to export the data:
   - **To Excel**: Each query result is saved in a new sheet of an Excel workbook. The sheet names are automatically generated based on the current date and time, ensuring that no data is overwritten.
   - **To CSV**: If CSV export is selected, the data is saved in a separate CSV file with a unique name based on the current timestamp. This allows for easy sharing and further analysis using standard spreadsheet software.

### Libraries and Modules Used

1. **Pandas**:
   Pandas is a widely-used Python library for data manipulation and analysis. In this project, it is responsible for:
   - Fetching and storing SQL query results in DataFrame format.
   - Exporting data to Excel and CSV files.
   
2. **SQLAlchemy**:
   SQLAlchemy is a popular SQL toolkit and Object Relational Mapper (ORM) that facilitates communication with SQL databases. It allows:
   - Easy connection management with SQL Server.
   - Safe and efficient execution of SQL queries.

3. **Openpyxl**:
   Openpyxl is a Python library used to read and write Excel files. It enables:
   - Adding query results to new sheets within an existing Excel workbook.
   
4. **Pathlib**:
   Pathlib is part of the Python standard library used for handling file and directory paths in an object-oriented way. It ensures:
   - The proper creation of directories.
   - Safe file path manipulation for exporting reports.
   
5. **Tabulate** (optional):
   The Tabulate library is used to display DataFrame contents in a neatly formatted table within the console. This enhances readability and allows users to view data summaries directly.

### Key Features

- **Dynamic Data Export**: The ability to export SQL query results dynamically into either Excel or CSV formats, based on user preferences.
- **Multi-Sheet Excel Reporting**: Each query is stored in a new sheet within the same Excel file, ensuring that no previous data is overwritten.
- **Automated Filename Management**: Both Excel sheets and CSV files are given unique names using timestamps, allowing multiple reports to be saved without conflicts.
- **Error Handling**: The project incorporates robust error handling mechanisms to ensure smooth operation, including database connection errors, file writing errors, and SQL execution issues.

### Conclusion

This project offers a versatile and automated solution for generating database reports in structured formats. By leveraging popular Python libraries such as Pandas, SQLAlchemy, and Openpyxl, it simplifies the process of extracting, displaying, and exporting data from SQL Server databases. With the added ability to handle both Excel and CSV outputs, it provides a flexible tool for data analysis and reporting needs.

***

<section style="direction: rtl; text-align: justify; margin: 30px;">

### مقدمه پروژه

این پروژه با هدف توسعه یک ابزار گزارش‌دهی خودکار طراحی شده است که دسترسی به داده‌های پایگاه داده SQL Server، اجرای کوئری‌های SQL و ذخیره داده‌های به‌دست‌آمده به گزارش‌های ساختاریافته را فراهم می‌کند. این ابزار به کاربران اجازه می‌دهد داده‌ها را استخراج کرده و در هر دو فرمت Excel و CSV ذخیره کنند، که انعطاف‌پذیری در مدیریت و ذخیره‌سازی داده‌ها را ارائه می‌دهد. این قابلیت به‌ویژه در محیط‌های مبتنی بر داده که گزارش‌دهی و مدیریت کارآمد داده‌ها اهمیت زیادی دارند، بسیار مفید است.

### عملکرد کلی پروژه

1. **اتصال به پایگاه داده**: 
   اولین گام در این فرایند، ایجاد یک اتصال به پایگاه داده SQL Server است. این کار با استفاده از کتابخانه `SQLAlchemy` انجام می‌شود که یک رابط قدرتمند برای تعامل با پایگاه‌های داده رابطه‌ای فراهم می‌کند. اتصال می‌تواند با یا بدون نام کاربری و رمز عبور انجام شود و این امکان را فراهم می‌آورد که در محیط‌های مختلف احراز هویت (SQL یا Windows) استفاده شود.

2. **اجرای کوئری‌های SQL**:
   پس از ایجاد اتصال، کاربران می‌توانند کوئری‌های SQL دلخواه خود را اجرا کرده و داده‌های مورد نیاز را از پایگاه داده بازیابی کنند. این کوئری‌ها می‌توانند شامل فیلتر، مرتب‌سازی یا تجمیع داده‌ها باشند. سپس ابزار داده‌ها را به یک DataFrame از کتابخانه Pandas منتقل می‌کند که امکان مدیریت و نمایش راحت‌تر نتایج را فراهم می‌کند.

3. **نمایش داده‌ها**:
   داده‌های بازیابی‌شده به‌صورت جدولی در کنسول نمایش داده می‌شوند. کاربران می‌توانند تعداد ردیف‌هایی که می‌خواهند مشاهده کنند را مشخص کنند، یا به‌طور پیش‌فرض ۱۰ ردیف اول نمایش داده می‌شود.

4. **ذخیره داده‌ها**:
   ویژگی اصلی این پروژه، توانایی ذخیره داده‌ها به فرمت‌های Excel و CSV است. کاربران می‌توانند انتخاب کنند که داده‌ها به‌صورت زیر ذخیره شوند:
   - **در Excel**: هر نتیجه کوئری در یک شیت جدید از یک فایل Excel ذخیره می‌شود. نام شیت‌ها به‌صورت خودکار و بر اساس تاریخ و زمان فعلی ایجاد می‌شوند تا از بازنویسی داده‌ها جلوگیری شود.
   - **در CSV**: اگر گزینه CSV انتخاب شود، داده‌ها در یک فایل CSV جداگانه با نام منحصربه‌فرد (بر اساس زمان فعلی) ذخیره می‌شوند که امکان به اشتراک‌گذاری و تحلیل بیشتر با نرم‌افزارهای استاندارد صفحه‌گسترده را فراهم می‌کند.

### کتابخانه‌ها و ماژول‌های مورد استفاده

1. **Pandas**:
   Pandas یک کتابخانه بسیار پرکاربرد در پایتون برای تحلیل و مدیریت داده‌ها است. در این پروژه، مسئول:
   - بارگذاری و ذخیره نتایج کوئری SQL در قالب DataFrame.
   - ذخیره داده‌ها به فایل‌های Excel و CSV.
   
2. **SQLAlchemy**:
   SQLAlchemy یک ابزار SQL و Mapper شیء رابطه‌ای (ORM) محبوب است که ارتباط با پایگاه‌های داده SQL را تسهیل می‌کند. این ابزار امکان:
   - مدیریت آسان اتصال به SQL Server.
   - اجرای ایمن و کارآمد کوئری‌های SQL را فراهم می‌کند.

3. **Openpyxl**:
   Openpyxl یک کتابخانه پایتون برای خواندن و نوشتن فایل‌های Excel است که در این پروژه برای:
   - افزودن نتایج کوئری به شیت‌های جدید در یک فایل Excel موجود به کار می‌رود.
   
4. **Pathlib**:
   Pathlib بخشی از کتابخانه استاندارد پایتون برای مدیریت مسیرهای فایل و دایرکتوری به شیوه‌ای شیءگرا است. این کتابخانه تضمین می‌کند که:
   - دایرکتوری‌های مورد نیاز به‌درستی ایجاد شوند.
   - مدیریت ایمن مسیرهای فایل برای ذخیره گزارش‌ها انجام شود.
   
5. **Tabulate** (اختیاری):
   کتابخانه Tabulate برای نمایش محتوای DataFrame در قالب یک جدول مرتب‌شده در کنسول استفاده می‌شود. این کار خوانایی نتایج را بهبود می‌بخشد و به کاربران امکان می‌دهد خلاصه‌ای از داده‌ها را به‌راحتی مشاهده کنند.

### ویژگی‌های کلیدی

- **ذخیره سازی پویا**: امکان ذخیره سازی نتایج کوئری SQL به‌صورت پویا در فرمت‌های Excel یا CSV، بسته به نیاز کاربر.
- **گزارش‌دهی چندشیتی در Excel**: هر کوئری در یک شیت جدید از یک فایل Excel ذخیره می‌شود و از بازنویسی داده‌ها جلوگیری می‌شود.
- **مدیریت خودکار نام فایل‌ها**: شیت‌های Excel و فایل‌های CSV نام‌های منحصربه‌فردی بر اساس زمان فعلی دریافت می‌کنند که به کاربران اجازه می‌دهد چندین گزارش را بدون تداخل ذخیره کنند.
- **مدیریت خطا**: پروژه شامل مکانیسم‌های مدیریت خطا برای تضمین عملکرد صحیح است که شامل مدیریت خطاهای اتصال به پایگاه داده، خطاهای نوشتن فایل و اجرای کوئری‌های SQL می‌باشد.

### نتیجه‌گیری

این پروژه یک راهکار همه‌کاره و خودکار برای تولید گزارش‌های پایگاه داده در قالب‌های ساختاریافته ارائه می‌دهد. با استفاده از کتابخانه‌های پرکاربردی مانند Pandas، SQLAlchemy و Openpyxl، این ابزار فرایند استخراج، نمایش و ذخیره‌سازی داده از پایگاه داده SQL Server را ساده می‌کند. با داشتن قابلیت ذخیره‌سازی خروجی به‌صورت Excel و CSV، این ابزار یک ابزار انعطاف‌پذیر برای نیازهای تحلیل و گزارش‌دهی داده‌ها فراهم می‌کند.

</section>

***

### **Calling the SQL Server Connection Function**

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import logging

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

def create_connection(server, database, username=None, password=None):
    """
    Create a connection to the SQL Server database using SQLAlchemy.
    
    Parameters:
    - server: str, the name of the SQL Server
    - database: str, the name of the database
    - username: str, optional, SQL Server username (for SQL authentication)
    - password: str, optional, SQL Server password (for SQL authentication)
    
    Returns:
    - engine: sqlalchemy.engine.base.Engine, the SQLAlchemy engine object or None if the connection fails
    """
    try:
        if username and password:
            connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server'
        else:
            connection_string = f'mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server'
        
        engine = create_engine(connection_string)
        
        # Test connection
        with engine.connect() as conn:
            logging.info("Connection successful!")
        
        return engine

    except SQLAlchemyError as e:
        logging.error(f"Connection failed: {e}")
        return None

***

### **Check if the database connection is successful**

In [3]:
def check_connection(engine):
    if engine:
        logging.info("Database connection established successfully.")
        return True
    else:
        logging.error("Failed to establish database connection.")
        return False

# Call the create_connection function
server = r'imsalione-pc\imsalionedb'
database = 'AdventureWorksLT2022'

engine = create_connection(server, database)

# Use the check_connection function to verify the connection
if check_connection(engine):
    # Proceed with database operations
    pass
else:
    # Handle the failed connection
    pass

2024-09-24 17:09:05,263 - INFO - Connection successful!
2024-09-24 17:09:05,264 - INFO - Database connection established successfully.

***

### **Fetching and Displaying Data from SQL Server**

In [71]:
import pandas as pd
from sqlalchemy import exc
from pathlib import Path

# Define the directory where you want to save the report files
output_directory = Path("C:/Reports")  # Adjust the path as needed
output_directory.mkdir(parents=True, exist_ok=True)  # Ensure the directory exists

def fetch_and_display_data(engine, query, pnum=10, export_to_excel=False, export_to_csv=False):
    """
    Fetch data from a SQL database and optionally export to Excel or CSV.
    
    Parameters:
    - engine: SQLAlchemy engine object.
    - query: SQL query string.
    - pnum: int, number of rows to display (default is 10).
    - export_to_excel: bool, whether to export data to an Excel file (default is False).
    - export_to_csv: bool, whether to export data to a CSV file (default is False).
    """
    
    if engine:
        try:
            # Load data into a pandas DataFrame
            df = pd.read_sql(query, engine)
            
            # Display the first pnum rows (or default 10 rows if pnum is not provided)
            print(df.head(pnum).to_string(index=False, max_colwidth=25))

            # Export to Excel if requested
            if export_to_excel:
                file_path = output_directory / "report.xlsx"
                new_sheet_name = f"Rep_{pd.Timestamp.now().strftime('%d%m%Y%H%M%S')}"
                
                try:
                    with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='new') as writer:
                        df.to_excel(writer, sheet_name=new_sheet_name, index=False)
                        print(f"Data exported to {file_path} in sheet {new_sheet_name}")
                except Exception as e:
                    print(f"Error writing to existing Excel file: {e}")
            
            # Export to CSV if requested
            if export_to_csv:
                csv_file_path = output_directory / f"report_{pd.Timestamp.now().strftime('%d%m%Y%H%M%S')}.csv"
                try:
                    df.to_csv(csv_file_path, index=False)
                    print(f"Data exported to CSV at {csv_file_path}")
                except Exception as e:
                    print(f"Error writing to CSV file: {e}")

        except exc.SQLAlchemyError as db_error:
            print(f"Database error occurred: {db_error}")
        except Exception as e:
            print(f"An error occurred: {e}")
    else:
        print("No database connection.")

***

### **Executing SQL Query to Fetch and Display Table Information**

In [72]:
query = "SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES"
fetch_and_display_data(engine, query, pnum=20)

TABLE_SCHEMA                TABLE_NAME
         dbo                  ErrorLog
         dbo              BuildVersion
     SalesLT                   Address
     SalesLT                  Customer
     SalesLT           CustomerAddress
     SalesLT                   Product
     SalesLT           ProductCategory
     SalesLT        ProductDescription
     SalesLT              ProductModel
     SalesLT ProductModelProductDes...
     SalesLT          SalesOrderDetail
     SalesLT          SalesOrderHeader
     SalesLT    vProductAndDescription
     SalesLT vProductModelCatalogDe...
     SalesLT         vGetAllCategories

In [6]:
query = "SELECT AVG(OrderQty) AS AverageQTY FROM SalesLT.SalesOrderDetail"

fetch_and_display_data(engine, query)

 AverageQTY
          3

In [69]:
query = """SELECT OrderQty, ProductID, UnitPrice, CASE
WHEN OrderQty < 3 THEN N'کم فروش'
WHEN OrderQty >= 3 THEN N'پرفروش'
END AS SalesClass 
FROM SalesLT.SalesOrderDetail"""

fetch_and_display_data(engine, query, 15)

 OrderQty  ProductID  UnitPrice SalesClass
        1        836     356.90    کم فروش
        1        822     356.90    کم فروش
        1        907      63.90    کم فروش
        4        905     218.45     پرفروش
        2        983     461.69    کم فروش
        6        988     113.00     پرفروش
        2        748     818.70    کم فروش
        1        990     323.99    کم فروش
        1        926     149.87    کم فروش
        1        743     809.76    کم فروش
        4        782    1376.99     پرفروش
        2        918     158.43    کم فروش
        4        780    1391.99     پرفروش
        1        937      48.59    کم فروش
        6        867      41.99     پرفروش

In [73]:
query = """SELECT COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'ProductDescription';
"""

fetch_and_display_data(engine, query)

         COLUMN_NAME        DATA_TYPE
ProductDescriptionID              int
         Description         nvarchar
             rowguid uniqueidentifier
        ModifiedDate         datetime

In [74]:
query = """SELECT AVG(YEAR(ModifiedDate)) AS DateAverage,
Max(YEAR(ModifiedDate)) AS MaxYear,
Min(YEAR(ModifiedDate)) AS MinYear
FROM SalesLT.ProductDescription"""

fetch_and_display_data(engine, query)

 DateAverage  MaxYear  MinYear
        2007     2008     2007

In [75]:
query = """SELECT * FROM SalesLT.ProductDescription"""

fetch_and_display_data(engine, query)

 ProductDescriptionID               Description                   rowguid            ModifiedDate
                    3           Chromoly steel. 301EED3A-1A82-4855-99C... 2007-06-01 00:00:00.000
                    4 Aluminum alloy cups; l... DFEBA528-DA11-4650-9D8... 2007-06-01 00:00:00.000
                    5 Aluminum alloy cups an... F7178DA7-1A7E-4997-847... 2007-06-01 00:00:00.000
                    8 Suitable for any type ... 8E6746E5-AD97-46E2-BD2... 2007-06-01 00:00:00.000
                   64 This bike delivers a h... 7B1C4E90-85E2-4792-B47... 2007-06-01 00:00:00.000
                   88 For true trail addicts... 4C1AD253-357E-4A98-B02... 2007-06-01 00:00:00.000
                  128 Serious back-country r... 130709E6-8512-49B9-9F6... 2008-03-11 10:32:17.973
                  168 Top-of-the-line compet... DB979DA6-4CC8-4171-9EC... 2007-06-01 00:00:00.000
                  170 Suitable for any type ... EA772412-6369-4416-9CC... 2007-06-01 00:00:00.000
                  209 Entry level adult bike... F5FF5FFD-CB7C-4AD6-BBC... 2007-06-01 00:00:00.000

In [76]:
query = """SELECT MONTH(ModifiedDate) AS SaleYEAR,
DATEDIFF(MONTH, modifieddate, GETDATE())
AS YearCount FROM SalesLT.ProductDescription"""

fetch_and_display_data(engine, query)

 SaleYEAR  YearCount
        6        207
        6        207
        6        207
        6        207
        6        207
        6        207
        3        198
        6        207
        6        207
        6        207

In [77]:
query = """SELECT fname, lname, hire_date , DATEDIFF(YEAR, hire_date, GETDATE())
AS experience, 
CASE 
WHEN DATEDIFF(YEAR, hire_date, GETDATE()) > 30 THEN 'G1'
WHEN DATEDIFF(YEAR, hire_date, GETDATE()) <= 30 THEN 'G2'
END AS experienceClass
FROM employee"""

fetch_and_display_data(engine, query)

Database error occurred: (pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'employee'. (208) (SQLExecDirectW)")
[SQL: SELECT fname, lname, hire_date , DATEDIFF(YEAR, hire_date, GETDATE())
AS experience,
CASE
WHEN DATEDIFF(YEAR, hire_date, GETDATE()) > 30 THEN 'G1'
WHEN DATEDIFF(YEAR, hire_date, GETDATE()) <= 30 THEN 'G2'
END AS experienceClass
FROM employee]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [36]:
query = """SELECT * FROM sales
WHERE title_id like 'B%'"""

fetch_and_display_data(engine, query)

 id stor_id  ord_num   ord_date  qty   payterms title_id
  1    6380     6871 1994-09-14    5     Net 60   BU1032
 15    7896   QQ2299 1993-10-28   15     Net 60   BU7832
 17    7896     X999 1993-02-21   35 ON invoice   BU2075
 19    8042 423LL930 1994-09-14   10 ON invoice   BU1032
 20    8042     P723 1993-03-11   25     Net 30   BU1111

In [48]:
query = """SELECT title, type, isnull(price, 0)
AS NewPrice
FROM TITLES
ORDER BY NewPrice"""

fetch_and_display_data(engine, query)

                                               title         type  NewPrice
                  The Psychology of Computer Cooking UNDECIDED         0.00
                                       Net Etiquette popular_comp      0.00
                               The Gourmet Microwave mod_cook          2.99
                     You Can Combat Computer Stress! business          2.99
                                   Life Without Fear psychology        7.00
                 Emotional Security: A New Algorithm psychology        7.99
                                 Is Anger the Enemy? psychology       10.95
           Fifty Years in Buckingham Palace Kitchens trad_cook        11.95
Cooking with Computers: Surreptitious Balance Sheets business         11.95
                                      Sushi, Anyone? trad_cook        14.99

In [53]:
query = """SELECT TOP 3 title FROM titles
ORDER BY price DESC"""

fetch_and_display_data(engine, query)

                                                          title
                                       But Is It User Friendly?
Computer Phobic AND Non-Phobic Individuals: Behavior Variations
Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean

In [56]:
query = """SELECT TOP 3 * FROM employee
ORDER BY hire_date DESC"""

fetch_and_display_data(engine, query)

   emp_id fname minit     lname  job_id  job_lvl pub_id  hire_date
MGK44605M Matti     G Karttunen       6      220   0736 1994-05-01
KJJ92907F Karla     J Jablonski       9      170   9999 1994-03-11
PSP68661F Paula     S   Parente       8      125   1389 1994-01-19

In [59]:
query = """SELECT pub_id, price FROM titles 
WHERE price BETWEEN 7 AND 20"""

fetch_and_display_data(engine, query, 15)

pub_id  price
  1389  19.99
  1389  11.95
  1389  19.99
  0877  19.99
  1389  20.00
  0736  10.95
  0736   7.00
  0736  19.99
  0736   7.99
  0877  11.95
  0877  14.99

In [62]:
query = """select pub_id, pubdate from titles
where year(pubdate) > 1991"""

fetch_and_display_data(engine, query)

pub_id                 pubdate
  0877 2023-08-13 18:04:28.620
  1389 1994-06-12 00:00:00.000
  1389 2023-08-13 18:04:28.620

In [65]:
query = """SELECT sum(price) as SumPrice,
AVG(price) as AvgPrice,
Max(price) as MaxPrice,
Min(price) as MinPrice
FROM titles"""

fetch_and_display_data(engine, query)

 SumPrice  AvgPrice  MaxPrice  MinPrice
   236.26   14.7662     22.95      2.99

In [66]:
query = "SELECT COUNT(*) AS NumberOfAuthors FROM authors"

fetch_and_display_data(engine, query)

 NumberOfAuthors
              23

In [71]:
query = """
SELECT type, ROUND(AVG(price), 2) AS AveragePrice
FROM titles
GROUP BY type"""

fetch_and_display_data(engine, query)

        type  AveragePrice
business             13.73
mod_cook             11.49
popular_comp         21.48
psychology           13.50
trad_cook            15.96
UNDECIDED              NaN

In [7]:
query = """select count(*) as NumberOfHiredEmployee,
year(hire_date) as YearOfHiring
from employee
group by year(hire_date)
order by NumberOfHiredEmployee desc"""

fetch_and_display_data(engine, query, 10, export_to_excel=True)

 NumberOfHiredEmployee  YearOfHiring
                     8          1990
                     7          1991
                     7          1992
                     7          1993
                     7          1989
                     4          1988
                     3          1994
Data exported to C:\Reports\report.xlsx in sheet Rep_23092024152956

In [11]:
query = """
select count(*) as NumberOfHiredEmployee,
YEAR(hire_date) as YearOfHiring
from employee
group by YEAR(hire_date)
having count(*) > 5
order by NumberOfHiredEmployee desc"""

fetch_and_display_data(engine, query)

 NumberOfHiredEmployee  YearOfHiring
                     8          1990
                     7          1991
                     7          1992
                     7          1993
                     7          1989

In [27]:
query = """select count(FirstName) as CountOfPerson 
from SalesLT.Customer
"""

fetch_and_display_data(engine, query)

 CountOfPerson
           847