## **SQL-Fundamentals-Farsi**

<section style="direction: ltr; text-align: justify; margin: 30px;">

### Project Introduction

This project is designed to create a tool for accessing SQL Server databases, executing various queries, and extracting data. The main objective is to automate the generation of comprehensive reports from database data and save them in Excel files. This tool is especially useful in environments where regular, structured reporting is required.

### General Workflow of the Project

1. **Database Connection**: First, a connection to the SQL Server database is established using server details, database name, and optional login credentials. This connection is managed via the SQLAlchemy library, which provides a powerful interface for interacting with SQL databases in Python.

2. **Executing SQL Queries**: After establishing the connection, the user can execute their desired queries to retrieve data. These queries can involve selecting, filtering, and sorting data based on the needs of the user.

3. **Data Display**: The retrieved data is displayed in a tabular format in the console. The number of rows to be displayed can be adjusted according to the user’s preference.

4. **Saving Output to Excel Files**: A key feature of this project is the ability to save the extracted data into Excel files. Each dataset returned from the queries is saved in a new sheet within the same Excel file to prevent data overlap and ensure the reports are stored systematically.

### Libraries and Modules Used

- **Pandas**: Used to read and manage data in DataFrame format, as well as to export the data into Excel files.
- **SQLAlchemy**: Manages database connections and query execution with the SQL Server.
- **Openpyxl**: Facilitates working with Excel files, including creating and editing sheets within existing files.
- **Pathlib**: Helps in managing file paths and ensuring files are correctly saved in the intended directory.
- **Tabulate**: Provides a clean and organized display of data in a tabular format in the console.

### Conclusion

This project serves as an efficient tool for users who need to generate and manage reports from SQL Server databases. By automating data extraction, processing, and saving the results into Excel files, the tool saves time and enhances the accuracy of data management.

</section>

***

<section style="direction: rtl; text-align: justify; margin: 30px;">

### مقدمه پروژه

این پروژه به منظور ایجاد یک ابزار برای دسترسی به پایگاه داده‌های SQL Server، اجرای کوئری‌های مختلف و استخراج داده‌ها طراحی شده است. هدف این پروژه، ارائه گزارش‌های جامع از داده‌های پایگاه داده به صورت خودکار و ذخیره آنها در قالب فایل‌های Excel است. این ابزار برای محیط‌هایی که نیاز به تولید گزارش‌های مکرر و طبقه‌بندی شده دارند، کاربرد دارد.

### عملکرد کلی پروژه

1. **اتصال به پایگاه داده**: ابتدا، با استفاده از اطلاعات مربوط به سرور SQL، پایگاه داده و در صورت نیاز اطلاعات ورود، اتصال به پایگاه داده برقرار می‌شود. این ارتباط از طریق کتابخانه SQLAlchemy مدیریت می‌شود که یک اینترفیس قدرتمند برای تعامل با پایگاه داده‌های SQL در پایتون است.
  
2. **اجرای کوئری‌های SQL**: پس از برقراری اتصال، کاربر می‌تواند کوئری‌های مورد نظر خود را برای استخراج داده‌ها اجرا کند. این کوئری‌ها می‌توانند شامل دستوراتی برای انتخاب، فیلتر کردن و طبقه‌بندی داده‌ها باشند.

3. **نمایش داده‌ها**: داده‌های استخراج‌شده به صورت جدول در خروجی کنسول نمایش داده می‌شوند. تعداد سطرهایی که کاربر مایل به مشاهده آنهاست، می‌تواند به‌صورت دلخواه تنظیم شود.

4. **ذخیره‌سازی خروجی‌ها در فایل‌های Excel**: یکی از ویژگی‌های اصلی این پروژه، امکان ذخیره داده‌های استخراج‌شده در فایل‌های Excel است. هر مجموعه داده‌ای که توسط کوئری‌ها بازگردانده شود، در یک شیت جدید از فایل اکسل ذخیره می‌شود تا از هم‌پوشانی و از دست رفتن داده‌ها جلوگیری شود.

### کتابخانه‌ها و ماژول‌های مورد استفاده

- **Pandas**: برای خواندن و مدیریت داده‌ها در قالب DataFrame و همچنین برای خروجی گرفتن از داده‌ها به فایل Excel استفاده می‌شود.
- **SQLAlchemy**: برای برقراری ارتباط با پایگاه داده SQL Server و مدیریت کوئری‌ها به کار می‌رود.
- **Openpyxl**: برای کار با فایل‌های Excel، از جمله ایجاد و ویرایش شیت‌ها در فایل‌های موجود.
- **Pathlib**: برای مدیریت مسیرها و اطمینان از ذخیره درست فایل‌ها در دایرکتوری مورد نظر استفاده می‌شود.
- **Tabulate**: برای نمایش داده‌ها به صورت جدولی و مرتب در خروجی کنسول استفاده می‌شود.

### نتیجه‌گیری

این پروژه ابزار مناسبی برای افرادی است که نیاز به تولید و مدیریت گزارش‌های داده‌ای از پایگاه داده‌های SQL Server دارند. با استفاده از این ابزار، داده‌ها به طور خودکار استخراج، پردازش و در فایل‌های اکسل ذخیره می‌شوند که باعث صرفه‌جویی در زمان و افزایش دقت در مدیریت داده‌ها می‌شود.

</section>

***

### **Calling the SQL Server Connection Function**

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import logging

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

def create_connection(server, database, username=None, password=None):
    """
    Create a connection to the SQL Server database using SQLAlchemy.
    
    Parameters:
    - server: str, the name of the SQL Server
    - database: str, the name of the database
    - username: str, optional, SQL Server username (for SQL authentication)
    - password: str, optional, SQL Server password (for SQL authentication)
    
    Returns:
    - engine: sqlalchemy.engine.base.Engine, the SQLAlchemy engine object or None if the connection fails
    """
    try:
        if username and password:
            connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server'
        else:
            connection_string = f'mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server'
        
        engine = create_engine(connection_string)
        
        # Test connection
        with engine.connect() as conn:
            logging.info("Connection successful!")
        
        return engine

    except SQLAlchemyError as e:
        logging.error(f"Connection failed: {e}")
        return None

In [3]:
def check_connection(engine):
    """
    Check if the database connection is successful.
    
    Parameters:
    - engine: sqlalchemy.engine.base.Engine, the SQLAlchemy engine object
    
    Returns:
    - bool: True if connection is successful, False otherwise
    """
    if engine:
        logging.info("Database connection established successfully.")
        return True
    else:
        logging.error("Failed to establish database connection.")
        return False

# Call the create_connection function
server = r'imsalione-pc\imsalionedb'
database = 'pubs'

engine = create_connection(server, database)

# Use the check_connection function to verify the connection
if check_connection(engine):
    # Proceed with database operations
    pass
else:
    # Handle the failed connection
    pass

2024-09-22 14:43:35,189 - INFO - Connection successful!
2024-09-22 14:43:35,189 - INFO - Database connection established successfully.

### **Fetching and Displaying Data from SQL Server**

In [21]:
import pandas as pd
from sqlalchemy import exc
from pathlib import Path

# Define the directory where you want to save the report files
output_directory = Path("C:/Reports")  # Adjust the path as needed
output_directory.mkdir(parents=True, exist_ok=True)  # Ensure the directory exists

def fetch_and_display_data(engine, query, pnum=10, export_to_excel=False, export_to_csv=False):
    """
    Fetch data from a SQL database and optionally export to Excel or CSV.
    
    Parameters:
    - engine: SQLAlchemy engine object.
    - query: SQL query string.
    - pnum: int, number of rows to display (default is 10).
    - export_to_excel: bool, whether to export data to an Excel file (default is False).
    - export_to_csv: bool, whether to export data to a CSV file (default is False).
    """
    
    if engine:
        try:
            # Load data into a pandas DataFrame
            df = pd.read_sql(query, engine)
            
            # Display the first pnum rows (or default 10 rows if pnum is not provided)
            print(df.head(pnum).to_string(index=False))

            # Export to Excel if requested
            if export_to_excel:
                file_path = output_directory / "report.xlsx"
                new_sheet_name = f"Rep_{pd.Timestamp.now().strftime('%d%m%Y%H%M%S')}"
                
                try:
                    with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='new') as writer:
                        df.to_excel(writer, sheet_name=new_sheet_name, index=False)
                        print(f"Data exported to {file_path} in sheet {new_sheet_name}")
                except Exception as e:
                    print(f"Error writing to existing Excel file: {e}")
            
            # Export to CSV if requested
            if export_to_csv:
                csv_file_path = output_directory / f"report_{pd.Timestamp.now().strftime('%d%m%Y%H%M%S')}.csv"
                try:
                    df.to_csv(csv_file_path, index=False)
                    print(f"Data exported to CSV at {csv_file_path}")
                except Exception as e:
                    print(f"Error writing to CSV file: {e}")

        except exc.SQLAlchemyError as db_error:
            print(f"Database error occurred: {db_error}")
        except Exception as e:
            print(f"An error occurred: {e}")
    else:
        print("No database connection.")

### Executing SQL Query to Fetch and Display Table Information

In [24]:
query = "SELECT * FROM INFORMATION_SCHEMA.TABLES"
fetch_and_display_data(engine, query, pnum=10, export_to_csv=True)

TABLE_CATALOG TABLE_SCHEMA  TABLE_NAME TABLE_TYPE
         pubs          dbo sysdiagrams BASE TABLE
         pubs          dbo     authors BASE TABLE
         pubs          dbo  publishers BASE TABLE
         pubs          dbo      titles BASE TABLE
         pubs          dbo titleauthor BASE TABLE
         pubs          dbo      stores BASE TABLE
         pubs          dbo    roysched BASE TABLE
         pubs          dbo   discounts BASE TABLE
         pubs          dbo        jobs BASE TABLE
         pubs          dbo    pub_info BASE TABLE
Data exported to CSV at C:\Reports\report_22092024150618.csv

### Executing SQL Query to Fetch and Display Sales Data

In [32]:
query = "SELECT * FROM sales"
fetch_and_display_data(engine, query)

 id stor_id  ord_num   ord_date  qty   payterms title_id
  1    6380     6871 1994-09-14    5     Net 60   BU1032
  2    6380     722a 1994-09-13    3     Net 60   PS2091
  3    7066    A2976 1993-05-24   50     Net 30   PC8888
  4    7066 QA7442.3 1994-09-13   75 ON invoice   PS2091
  5    7067    D4482 1994-09-14   10     Net 60   PS2091
  6    7067    P2121 1992-06-15   40     Net 30   TC3218
  7    7067    P2121 1992-06-15   20     Net 30   TC4203
  8    7067    P2121 1992-06-15   20     Net 30   TC7777
  9    7131  N914008 1994-09-14   20     Net 30   PS2091
 10    7131  N914014 1994-09-14   25     Net 30   MC3021

In [33]:
query = """SELECT *, CASE
WHEN qty < 30 THEN N'کم فروش'
WHEN qty >= 30 THEN N'پرفروش'
END AS SalesClass 
FROM sales"""

fetch_and_display_data(engine, query)

 id stor_id  ord_num   ord_date  qty   payterms title_id SalesClass
  1    6380     6871 1994-09-14    5     Net 60   BU1032    کم فروش
  2    6380     722a 1994-09-13    3     Net 60   PS2091    کم فروش
  3    7066    A2976 1993-05-24   50     Net 30   PC8888     پرفروش
  4    7066 QA7442.3 1994-09-13   75 ON invoice   PS2091     پرفروش
  5    7067    D4482 1994-09-14   10     Net 60   PS2091    کم فروش
  6    7067    P2121 1992-06-15   40     Net 30   TC3218     پرفروش
  7    7067    P2121 1992-06-15   20     Net 30   TC4203    کم فروش
  8    7067    P2121 1992-06-15   20     Net 30   TC7777    کم فروش
  9    7131  N914008 1994-09-14   20     Net 30   PS2091    کم فروش
 10    7131  N914014 1994-09-14   25     Net 30   MC3021    کم فروش

In [34]:
query = """SELECT * , DATEDIFF(YEAR, hire_date, GETDATE())
                       AS experience 
                       FROM employee"""

fetch_and_display_data(engine, query)

   emp_id     fname minit     lname  job_id  job_lvl pub_id  hire_date  experience
PMA42628M     Paolo     M   Accorti      13       35   0877 1992-08-27          32
PSA89086M     Pedro     S    Afonso      14       89   1389 1990-12-24          34
VPA30890F  Victoria     P  Ashworth       6      140   0877 1990-09-13          34
H-B39728F     Helen         Bennett      12       35   0877 1989-09-21          35
L-B31947F    Lesley           Brown       7      120   0877 1991-02-13          33
F-C16315M Francisco           Chang       4      227   9952 1990-11-03          34
PTC11962M    Philip     T    Cramer       2      215   9952 1989-11-11          35
A-C71970F      Aria            Cruz      10       87   1389 1991-10-26          33
AMD15433F       Ann     M     Devon       3      200   9952 1991-07-16          33
ARD36773F   Anabela     R Domingues       8      100   0877 1993-01-27          31

In [35]:
query = """SELECT fname, lname, hire_date , DATEDIFF(YEAR, hire_date, GETDATE())
                       AS experience, 
                       CASE 
                       WHEN DATEDIFF(YEAR, hire_date, GETDATE()) > 30 THEN 'G1'
                       WHEN DATEDIFF(YEAR, hire_date, GETDATE()) <= 30 THEN 'G2'
                       END AS experienceClass
                       FROM employee"""

fetch_and_display_data(engine, query)

    fname     lname  hire_date  experience experienceClass
    Paolo   Accorti 1992-08-27          32              G1
    Pedro    Afonso 1990-12-24          34              G1
 Victoria  Ashworth 1990-09-13          34              G1
    Helen   Bennett 1989-09-21          35              G1
   Lesley     Brown 1991-02-13          33              G1
Francisco     Chang 1990-11-03          34              G1
   Philip    Cramer 1989-11-11          35              G1
     Aria      Cruz 1991-10-26          33              G1
      Ann     Devon 1991-07-16          33              G1
  Anabela Domingues 1993-01-27          31              G1

In [36]:
query = """SELECT * FROM sales
WHERE title_id like 'B%'"""

fetch_and_display_data(engine, query)

 id stor_id  ord_num   ord_date  qty   payterms title_id
  1    6380     6871 1994-09-14    5     Net 60   BU1032
 15    7896   QQ2299 1993-10-28   15     Net 60   BU7832
 17    7896     X999 1993-02-21   35 ON invoice   BU2075
 19    8042 423LL930 1994-09-14   10 ON invoice   BU1032
 20    8042     P723 1993-03-11   25     Net 30   BU1111

In [37]:
query = """SELECT title, type, isnull(price, 0)
AS NewPrice
FROM TITLES
ORDER BY NewPrice"""

fetch_and_display_data(engine, query)

                                               title         type  NewPrice
                  The Psychology of Computer Cooking UNDECIDED         0.00
                                       Net Etiquette popular_comp      0.00
                               The Gourmet Microwave mod_cook          2.99
                     You Can Combat Computer Stress! business          2.99
                                   Life Without Fear psychology        7.00
                 Emotional Security: A New Algorithm psychology        7.99
                                 Is Anger the Enemy? psychology       10.95
           Fifty Years in Buckingham Palace Kitchens trad_cook        11.95
Cooking with Computers: Surreptitious Balance Sheets business         11.95
                                      Sushi, Anyone? trad_cook        14.99